<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleCadastro.css">
    <title>Figurinhas Catar 2022</title>
</head>

<body>
    <main>
        <section class="wallpaper">
        </section>

        <div id="login">
            <form class="card" action="/users" method="post">

                <div class="card-header">

                    <h2>CADASTRE-SE</h2>

                </div>

                <div class="card-content">

                    <div class="card-content-area">

                        <label for="usuario">NOME DE USUÁRIO</label>
                        <input type="text" id="name" name="name" placeholder="Nome">

                    </div>

                    <div class="card-content-area">

                        <label for="usuario">EMAIL</label>
                        <input type="email" id="email" name="email" autocomplete="off" placeholder="Email">

                    </div>

                    <div class="card-content-area">

                        <label for="password">SENHA</label>
                        <input type="password" id="password" name="password" autocomplete="off" placeholder="Senha">

                    </div>

                </div>

                <div class="card-footer">

                    <button id="submit">CADASTRAR</button>

                    <label for="tenho-conta">Já tenho uma conta.</label>
                    <a href="login" class="fazer-login">FAZER LOGIN</a>
                </div>
            </form>
        </div>


    </main>
</body>

</html>