<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleHome.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300&family=Pacifico&display=swap"
        rel="stylesheet">
    

    <title>Figurinhas Catar 2022</title>
</head>

<body>
    <div class="container">
        <header class="cabecalho">
            <div class="logo">
                <a href="home">
                    <img src="../img/logo-catar.png" alt="logo do site">
                </a>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="album">Meu album</a></li>
                </ul>
            </nav>
            <aside class="menu-sair">
                <a href="login">
                    <img src="../img/sair.png" alt="">
                </a>
            </aside>
            <aside class="menu-pessoa destaque">
                <a href="minhaConta">Minha conta</a>
            </aside>
        </header>
        <main class="conteudo">
            <section class="titulo">
                <p>Organize suas figurinhas repetidas<br />
                    complete seu álbum de maneira fácil e divertida.</p>
            </section>
            <section class="container-cards">
                <p class="container-titulo">Alemanha</p>
                <section class="conteudo-cards">
                    <div class="itens">
                        <p>ALE 01</p>
                        <img src="../img/Figurinhas/Alemanha/Alemanha_AL01.jpg" alt=""><br />
                        <a class="button" type="button" id="botaoDecremento" >-</a>
                        <input class="button input" type="text" disabled value="0" id="contador">
                        <a class="button" type="button" id="botaoIncremento">+</a>
                    </div>
                    <div class="itens">
                        <p>ALE 02</p>
                        <img src="../img/Figurinhas/Alemanha/Alemanha_AL02.jpg" alt=""><br />
                        <a class="button" type="button" id="botaoDecremento">-</a>
                        <input class="button input" type="text" disabled value="0" id="contador">
                        <a class="button" type="button" id="botaoIncremento">+</a>
                    </div>
                    <div class="itens">

                        <p>ALE 03</p>
                        <img src="../img/Figurinhas/Alemanha/Alemanha_AL03.jpg" alt=""><br />
                        <a class="button" type="button" id="botaoDecremento">-</a>
                        <input class="button input" type="text" disabled value="0" id="contador">
                        <a class="button" type="button" id="botaoIncremento">+</a>
                    </div>
                    <div class="itens">
                        <p>ALE 04</p>
                        <img src="../img/Figurinhas/Alemanha/Alemanha_AL04.jpg" alt=""><br />
                        <a class="button" type="button" id="botaoDecremento">-</a>
                        <input class="button input" type="text" disabled value="0" id="contador">
                        <a class="button" type="button" id="botaoIncremento">+</a>
                    </div>
                </section>
            </section>
            <section class="container-cards">
                <p class="container-titulo">Brasil</p>
                <section class="conteudo-cards">
                    <div class="itens">
                        <p>BRA 01</p>
                        <img src="../img/Figurinhas/Brasil/Brasil_BR01.jpg" alt=""><br />
                        <a class="button" type="button" id="botaoDecremento">-</a>
                        <input class="button input" type="text" disabled value="0" id="contador">
                        <a class="button" type="button" id="botaoIncremento">+</a>
                    </div>
                    <div class="itens">
                        <p>BRA 02</p>
                        <img src="../img/Figurinhas/Brasil/Brasil_BR02.jpg" alt=""><br />
                        <a class="button" type="button" id="botaoDecremento">-</a>
                        <input class="button input" type="text" disabled value="0" id="contador">
                        <a class="button" type="button" id="botaoIncremento">+</a>
                    </div>
                    <div class="itens">
                        <p>BRA 03</p>
                        <img src="../img/Figurinhas/Brasil/Brasil_BR03.jpg" alt=""><br />
                        <a class="button" type="button" id="botaoDecremento">-</a>
                        <input class="button input" type="text" disabled value="0" id="contador">
                        <a class="button" type="button" id="botaoIncremento">+</a>
                    </div>
                    <div class="itens">
                        <p>BRA 04</p>
                        <img src="../img/Figurinhas/Brasil/Brasil_BR04.jpg" alt=""><br />
                        <a class="button" type="button" id="botaoDecremento">-</a>
                        <<input class="button input" type="text" disabled value="0" id="contador">
                        <a class="button" type="button" id="botaoIncremento">+</a>
                    </div>
                </section>
            </section>
        </main>
        <footer>
            Copyright 2022
        </footer>
    </div>
</body>

</html>