<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleLogin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.10/dist/sweetalert2.min.css">
    <title>Figurinhas Catar 2022</title>
</head>
<body>
    <main>
    <section class="wallpaper">
    </section>

    <div id="login">
        <form class="card" action="/users/auth" method="post">

            <div class="card-header">

                <h2>LOGIN</h2>

            </div>

            <div class="card-content">

                <div class="card-content-area">

                    <label for="usuario">USUÁRIO</label>

                    <input type="text" id="usuario" autocomplete="off">

                </div>

                <div class="card-content-area">

                    <label for="password">SENHA</label>

                    <input type="password" id="password" autocomplete="off">

                </div>

            </div>

            <div class="card-footer" >

                <button id="submit">LOGIN</button>

                <a href="cadastro" class="cadastra-se">CADASTRE-SE</a>

            </div>

        </form>
    </div>
    </main>
    <script src="js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.10/dist/sweetalert2.all.min.js"></script>
</body>
</html>